<nav class="navbar navbar-expand-lg navbar-light bg-color">
  <h2>E-Shop</h2>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">


      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Domovská stránka <span class="sr-only">(current)</span></a>
      </li>

      <li *ngFor="let category of categoies" class="nav-item active">
        <a class="nav-link" [queryParams]="{id:category.id}" routerLink="/produkty">{{category.name}}<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/kosik">Košík<span class="sr-only">(current)</span></a>
      </li>


    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
